@import 'tailwindcss';

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: normal;
}

@theme {
  --primary-font: 'Lexend', sans-serif;
}

@layer base {
  * {
    font-family: var(--primary-font);
  }
  a, button:hover {
    cursor: pointer;
  }
}

